*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.33333;
}

a{
  display: block;
  text-decoration: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}